<link rel="stylesheet" type="text/css" href="post.css">

<div class="container3">
  <%unless member_signed_in?%>
    로그인해야 이용할 수 있습니다.
    <a href="/members/sign_in">로그인하러가기</a>
  <%end%>
  <% @applies.each do |x| %>
    <% if x.check == 1 %>
      <div class="card text-center">
        <div class="card-header">
         <div class="blue_text">승인완료</div>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= x.store_name %></h5>
          <p class="card-text"><%= Category.find(x.category_id).category_name %></p>
          <p class="card-text"><%= x.address %></p>
          <p class="card-text"><%= x.phone %></p>
        </div>
        <div class="card-footer text-muted">
          <%= x.updated_at.strftime('%Y년 %m월 %d일 %H시%M분') %>
        </div>
      </div>
    <% else %>
      <div class="card text-center">
        <div class="card-header">
          <div class="red_text">승인대기중</div>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= x.store_name %></h5>
          <p class="card-text"><%= Category.find(x.category_id).category_name %></p>
          <p class="card-text"><%= x.address %></p>
          <p class="card-text"><%= x.phone %></p>
          <% if member_signed_in? && current_member.authorization==1 %>
            <a href="/apply/update/<%=x.id%>" class="btn btn-primary">승인하기</a>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <%= x.updated_at.strftime('%Y년 %m월 %d일 %H시%M분') %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<% if member_signed_in? %>
 <div class="post_bt2"> <a  class="btn btn-outline-fill" href="/apply/new">신청하기</a></div>
<% end %>

