<!DOCTYPE html>
<html lang="en">
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

 <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                       <img src="assets/main.png" width="50px" height="50px">
                      <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action='/users/sign_in' method='post'>
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                        <div class="form-group">
                          <label for="user_email">ID</label>
                          <input type="text" value="" name="user[email]" autofocus="autofocus"  class="form-control" id="user_email" aria-describedby="emailHelp" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1 user_password">Password</label>
                          <input type="password" name="user[password]" class="form-control" id="user_password" placeholder="Password">
                        </div>
                      
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary" name="commit" >Login</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    </form>
                  </div>
  	    	</div>
              </div>
              
 
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="footer-main-div">
 
    <div class="footer-social-icons">
	    <ul>
		    <li><a href="#"><img src="#" height="35em" width="35em"></a></li>
		    <li><a href="#"><img src="#" height="35em" width="35em"></a></li>
		    <li><a href="#"><img src="#" height="40em" width="35em"></a></li>
		    <li><a href="#"><img src="#" height="35em" width="35em"></a></li>
	    </ul>
    </div>	
 
    <div class="footer-menu-one">
    	<ul>
		    <li><a href="/">Home</a></li>
        <li><a href=" /list">STORE</a></li>
        <li><a href="/notice">NOTICE</a></li>
        <li><a href="/index">APPLY</a></li>
 	    </ul>
    </div>
 
    <div class="footer-menu-two">
	    <ul>
		      <li><a href="#">DEVELOPER</a></li>
         <li><a href="#">김남수</a></li>
         <li><a href="#">양민욱</a></li>
         <li><a href="#">임수현</a></li>
         <li><a href="#">장희승</a></li>
         <li><a href="#">함진경</a></li>
 	    </ul>
    </div>
</div>
   
</body>
</html>
